header{
	height: 120px;
	background-color: #f7edf6;
}

header img{
	width: 105px;
}

header a{
	font-weight: bold;
}

.home{
	width: 100%;
	height: 960px;
	background-color: #1a1a1a;
	color: white;
}


.home .icon1, .home .icon2{
	margin-top: 45px;
	height: 212px;
	width: 220px;
}

.home .principaltexto1, .home .principaltexto2{
	padding: 40px;
}

.home button{
	width: 200px;
	font-family: sans-serif;
}

.home .iconRoupa, .home .iconBiquini{
	margin-top: 45px;
	height: 292px;
	width: 300px;
}

.modelos{
	background-color: #f7edf6;
}

.modelos img{
	width: 377px;
	heigth: 471.25;
	padding: 10px;
	border-radius: 25px;

}

.modelos .textoModelo1{
	font-family: serif;
	font-size: 1.4em;
	margin-top: 25px;
}	